* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Noto Sans;
    /*font-weight: Bold;*/
    font-size: 16px;
}

window#waybar {
    background-color: rgba(17,17,27,0.80);
    /*border-bottom: 2px solid  ;*/
    color: #11111b;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /*box-shadow: inset 0 -3px #000000;*/
}

/* you can set a style on hover for any module like this */
#backlight:hover,
#custom-power:hover,
#battery:hover,
#workspaces button:hover,
#pulseaudio:hover {
    background-color: #cba6f7;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button {
    padding: 0 4px;
    padding-top: 0px;
    /*margin: 4 0px;*/
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #000000;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
#workspaces{
    border-radius: 10px;
    background-color: #eb4d4b;

}
#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #000000;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-power,
#tray,
#mode,
#workspaces,
/*#workspaces button,*/
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    margin: 4 0px;
    border-radius: 0px; 
    background-color: #1e1e2e;
    margin-bottom: 5px;
}

#custom-power {
    margin: 4 4 4 0px;
    margin-bottom: 5px;
    border-radius: 0 5 5 0px;
}


#workspaces {
    padding: 0px;
    margin: 4 0px;
    margin-left: 4px;
    margin-bottom: 5px;
    border-radius: 5 10 10 5px;
}

/* If workspaces is the leftmost module, omit left margin */
/*.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

 If workspaces is the rightmost module, omit right margin 
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}*/

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#disk {
    background-color: #964B00;
}

#network.disconnected {
   /* background-color: #f53c3c;*/
}

#pulseaudio {
    background-color: #1e1e2e;
    color: #ffffff;
   border-radius: 18 0 0 18px;
}

#pulseaudio.muted {
    background-color: #151515;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    /*background-color: #2980b9;*/
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    /*-gtk-icon-effect: highlight;
    background-color: #eb4d4b;*/
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#clock {
    border-radius: 15px
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
