* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font;
    /*font-weight: Bold;*/
    font-size: 16px;
}

window#waybar {
    background-color: rgba(17,17,27,0.80);
    /*border-bottom: 2px solid  ;*/
    color: #11111b;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    box-shadow: none;
    transition: none; 
    text-shadow: none;
    background: none;
}

/* you can set a style on hover for any module like this */
#backlight:hover,
#custom-power:hover,
#clock:hover,
#power-profiles-daemon:hover,
#battery:hover,
#wireplumber:hover,
#language:hover,
#workspaces button:hover,
#pulseaudio:hover {
    background-color: #cba6f7;
}

#workspaces button {
    padding: 0 4px;
    /*margin: 4 0px;*/
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
#workspaces{
    border-radius: 10px;
    background-color: #eb4d4b;
}
#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #000000;
}

#clock,
#battery,
#backlight,
#wireplumber,
#custom-power,
#tray,
#language,
#workspaces,
#power-profiles-daemon {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: #dcd6f4;
    margin: 4px 0px;
    border-radius: 0px; 
    background-color: #1e1e2e;
}

#custom-power {
    margin: 4px 4px 4px 0px;
    padding-right: 13px;
    border-radius: 0px 5px 5px 0px;
}

#workspaces {
    padding: 0px;
    border-radius: 7px;
}

#battery.charging, #battery.plugged {
    color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #ff6060;
}

#power-profiles-daemon {
    border-radius: 0px 18px 18px 0px;
    padding-right: 15px
}

#power-profiles-daemon.performance {
    color: #f53c3c;
}

#power-profiles-daemon.balanced {
    color: #2980b9;
}

#power-profiles-daemon.power-saver {
    color: #2ecc71;
}

label:focus {
    background-color: #000000;
}

#wireplumber {
    border-radius: 18px 0px 0px 18px;
}

#wireplumber.muted {
    color: #FF6060;
}

#tray {
    /*background-color: #2980b9;*/
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    /*-gtk-icon-effect: highlight;
    background-color: #eb4d4b;*/
}

#clock {
    border-radius: 5px 0px 0px 5px;
    margin-left: 4px;
}
